# personal url list
storage/

# pycharm files
.idea/
tests/

# python cache
__pycache__/

# PyPI
Web_check.egg-info/
dist/

# other files
MANIFEST.in
pyproject.toml
image/logo.png
image/logo.psd
image/icon.psd
